*{
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(90deg, orange, yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text{
  font-size: 30px;
  color:rgb(4, 4, 65);
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn{
  background: linear-gradient(90deg, red, blue);
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-inline: 20vw;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a{
  text-decoration: none;
}